<h1 class="title-products">Programas Disponibles</h1>

<div class="row">

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 1" width="100%" src="img/adobe.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>Adobe Mastercollection 2025</h3>
        <strong class="price"><del>$2,000</del> $1,300</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 2" width="100%" src="img/windows.jpg" />
        <div class="offer">Oferta</div>
        <h3>Activacion Windows 10/11</h3>
        <strong class="price"><del>$150</del> $100</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 3" width="100%" src="img/AutoCad.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>AutoCad 2025</h3>
        <strong class="price"><del>$600</del> $400</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 4" width="100%" src="img/Office.png" />
        <div class="offer hidden">Oferta</div>
        <h3>Activacion Office</h3>
        <strong class="price">$100</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 5" width="100%" src="img/premier.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>Adobe Premier 2025</h3>
        <strong class="price">$200</strong>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 6" width="100%" src="img/edraw.png" />
        <div class="offer">Oferta</div>
        <h3>EdrawMax Ultimate</h3>
        <strong class="price"><del>$200</del>$150</strong>
    </a>

    <a href="#" class="col-m-4 col-s-9 product-box">
        <img alt="producto 7" width="100%" src="img/mantenimiento.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>mantenimiento preventiv y correctivo</h3>
        <strong class="price">$32.48</strong>
    </a>

</div>

<ul class="pagination">
    <li><a href="#" class="active">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li>...</li>
    <li><a href="#">10</a></li>
</ul>